################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C++/VectorSimulation/.vs/STL/v16
/C++/STLSimulation/VectorSimulation/x64/Debug
/C++/STLSimulation/.vs/STL/v16
/.vs
